@import "./fonts.css";
@import "./normalize.css";
@import "./media.css";
* {
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "Gilroy";
}
a {
  color: #066ec0;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  list-style-type: none;
  padding: 0;
}
i {
  color: #00c78c;
}
.q {
  quotes: "\00ab""\00bb";
}
.black {
  color: black;
}
.green {
  color: #00c78c;
}
.blue {
  color: #0072c0;
}
.white {
  color: #ffffff;
}
.smoke {
  color: rgb(156, 174, 188);
}
.item-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  position: absolute;
}
.item-text_semibold {
  font-family: "Gilroy-Semibold";
  font-size: 20px;
  line-height: 30px;
}
.item-text_normal {
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 25px;
  font-weight: 800;
}
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1245px;
  padding-right: 10px;
  padding-left: 10px;
}
.header__top {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header__link {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.header__link.header__link_indentation-left {
  justify-content: flex-start;
  padding: 0 0 0 30px;
}
.header__link.header__link_more-size {
  flex-grow: 2.5;
}
.header__link.header__link_indentation-right {
  padding: 0 30px 0 0;
}
.header-eye:after {
  content: url(../img/eye.png);
  margin-left: 15px;
}
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 6.928px 35px 0px rgb(217, 229, 237);
  height: 180px;
}
.header__title {
  font-size: 2.4rem;
  font-weight: 700;
  width: 408px;
  letter-spacing: -0.04em;
  line-height: 0.9em;
  margin-left: 12px;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__hot-line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.1em;
}
.header__text {
  font-size: 16px;
  font-weight: 400;
}
.header__number {
  margin: 0 0 0 -28px;
}
.header__phone {
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 1px;
}
.header__phone:before {
  content: url(../img/phone.png);
  margin-right: 9px;
}
.header__address {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__point {
  font-size: 16px;
  font-weight: 400;
}
.header__point:before {
  content: url(../img/point.png);
  margin-right: 7px;
}
.header__reference {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.btn {
  background: none;
  border: none;
  position: relative;
  cursor: pointer;
  outline: none;
}
.social {
  padding-bottom: 32px;
}
.social-btn {
  z-index: 2;
}
.social-btn:after {
  content: url(../img/social.png);
}
.social-links {
  display: none;
  flex-direction: row;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 6.928px 35px 0px rgb(217, 229, 237);
  position: absolute;
  right: -10px;
  top: -16px;
  padding-right: 148px;
  padding-left: 14px;
  z-index: 1;
}
.social-links.active {
  display: flex;
}
.social-item {
  padding: 0 18px 0 3px;
  font-family: FontAwesome;
  font-size: 16px;
}
.social-item.vk:before {
  content: "\f189";
}
.social-item.ok:before {
  content: "\f263";
}
.social-item.inst:before {
  content: "\f16d";
}
.social-item.fb:before {
  content: "\f39e";
}
.butter-btn {
  z-index: 4;
  position: absolute;
  margin-top: -16px;
}
.butter-btn:before {
  content: url(../img/butter.png);
}
.map-items {
  position: relative;
}
.map-site:active {
  display: flex;
}
.map-site {
  display: flex;
  flex-direction: column;
  position: absolute;
  box-shadow: 0px 8px 35px 0px #d8e4ed;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 20;
  width: 1226px;
  position: absolute;
  top: -118px;
  right: -38px;
}
.top__map-site {
  margin: 50px 40px 20px 40px;
  border-bottom: 1px dashed black;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.text__map-site {
  font-family: "Gilroy";
  font-size: 40px;
  line-height: 50px;
  font-weight: 800;
  color: #9caebc;
}
.close-place__map-site {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.btn__map-site {
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 25px;
  font-weight: 800;
}
.close-ico:before {
  content: url(../img/close.png);
  padding-left: 10px;
}
.bottom__map-site {
  margin: 10px 40px 10px 40px;
}
.box-items__map-site {
  height: 360px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
}
.box-items__map-site.second {
  margin-top: 10px;
  height: 220px;
}
.headlines__map-site {
  margin-bottom: 30px;
}
.submenu__map-site {
  margin-top: 15px;
}
.header__main-menu {
  display: flex;
  align-items: end;
  text-align: center;
  justify-content: space-evenly;
  font-weight: 400;
  font-size: 20px;
  margin-top: 15px;
}
.submenu__map-site > li {
  margin-bottom: 10px;
}
.submenu__map-site > li a {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 15px;
  font-weight: 600;
}
.submenu__map-site > li:last-child {
  margin-bottom: 0px;
}
.header__menu-items {
  display: contents;
  justify-content: space-around;
}
.header__link-item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: 600;
  padding: 8px 15px 8px 15px;
  margin: -8px -15px -8px -15px;
}
.header__link-item:hover {
  border: 1px solid #00c78c;
}
.submenu {
  display: none;
  position: absolute;
  border: none;
  border-top: 3px solid #00c78c;
  box-shadow: 0 8px 35px #d9e5ed;
  border-radius: 5px;
  background: #ffffff;
  padding: 0;
  top: 100%;
  text-align: left;
  min-width: 100%;
  z-index: 10;
  margin-left: 3px;
}
.header__menu-items li:hover > .submenu {
  display: block;
}
.header__submenu-item {
  padding: 8px 30px 8px 30px;
  font-weight: 500;
}
.header__submenu-item:hover {
  background-color: rgb(218, 223, 226);
}
.submenu > li:last-child {
  border-radius: 0 0 5px 5px;
}
.submenu > li:first-child {
  border-radius: 5px 5px 0 0;
}
.to__right {
  border-top: transparent;
  top: 25.3%;
  left: 100%;
}
.fas {
  font-family: "FontAwesome";
  padding-left: 5px;
}
.form-search {
  position: relative;
}
.search-btn {
  position: absolute;
  z-index: 6;
}
.search-btn:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
.search-place {
  display: none;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 6.928px 35px 0px rgb(217, 229, 237);
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  width: 1208px;
  height: 43px;
  left: -1185px;
  top: -8px;
  z-index: 5;
  padding-left: 30px;
}
.search-place.active {
  display: flex;
}
.search-place::after {
  content: url(../img/close.png);
}
.main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  flex-wrap: wrap;
}
.main-content__slider {
  width: 74%;
  border-radius: 10px;
  position: relative;
}
.main-content__slider-img {
  position: absolute;
  z-index: 7;
  object-fit: cover;
}
.main-content__slider:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  background-image: linear-gradient(to top, #002fc7, 60%, #ffffff);
  opacity: 0.3;
  z-index: 8;
  border-radius: 10px;
}
.main-content__slider-row-1 {
  position: absolute;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0.58px;
  margin: 522px 0 0 45px;
  padding: 0;
  z-index: 8;
}
.main-content__slider-row-2 {
  position: absolute;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.125;
  letter-spacing: 0.135px;
  margin: 553px 0 0 43px;
  z-index: 8;
}
.main-content__slider-managment {
  display: flex;
  margin-top: 673px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px 0 43px;
}
.main-content__slider-dots {
  display: flex;
}
.main-content__dot {
  border: transparent;
  display: block;
  width: 12px;
  height: 12px;
  z-index: 8;
  background-color: #ffffff;
  border-radius: 10px;
  margin-right: 34px;
  cursor: pointer;
}
.main-content__dot.active {
  background-color: #7ac9ff;
}
.main-content__slider-btns {
  display: flex;
  justify-content: space-between;
  width: 100px;
  z-index: 8;
}
.box-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  width: 43px;
  height: 43px;
}
.arrow-left:before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 35px;
}
.arrow-right:before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 35px;
}
.main-content__btn {
  background-color: rgba(122, 201, 255, 0.5);
}
.main-content__right-collumn {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.main-content__collumn-item {
  border-radius: 10px;
  height: 180px;
  margin-bottom: 10px;
}
.main-content__collumn-item:last-child {
  margin-bottom: 0;
}
.green-ground {
  background-color: #00c78c;
  background-image: linear-gradient(#00b7b9 0%, rgba(0, 183, 185, 0) 100%);
}
.blue-ground {
  background-color: #0072c0;
  background-image: linear-gradient(rgba(154, 0, 199, 0.2) 0%, rgba(154, 0, 199, 0) 100%);
}
.aqua-ground {
  background-color: #e8f5ff;
  background-image: linear-gradient(
    rgba(0, 114, 192, 0.12) 0%,
    rgba(0, 114, 192, 0) 100%
  );
}
.item-border {
  border: 1px dashed #000000;
}
.main-content__text {
  margin: 25px 70px 0 30px;
}
.main-content__questions {
  font-size: 14px;
  line-height: 2.12;
  letter-spacing: 1.125px;
  font-weight: 600;
  margin: 25px 0 0 29px;
}
.main-content__phone {
  font-size: 24px;
  letter-spacing: 0.38px;
  font-weight: bold;
}
.main-content__all-phones {
  font-size: 19px;
  cursor: pointer;
}
.main-content__all-phones:before {
  content: "\f060";
  font-family: FontAwesome;
  padding-right: 10px;
}
.news {
  position: relative;
  margin-top: 58px;
}
.headline-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}
.headline {
  font-family: "Gilroy-Extrabold";
  font-size: 45px;
  font-weight: 400;
  line-height: 50px;
}
.headline:active {
  color: rgb(156, 174, 188);
}
.archive {
  position: absolute;
  right: 0%;
  font-family: "Gilroy-Semibold";
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
}
.news__collums {
  display: flex;
  justify-content: space-between;
}
.news__collumn-item {
  border-radius: 10px;
  width: 49.5%;
  height: 375px;
  position: relative;
}
.news__collumn-img {
  position: absolute;
  z-index: 9;
  object-fit: cover;
}
.news__collumn-item:before {
  background: linear-gradient(to top, #e8f5ff 53%, #e8f5ff 100%);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.4;
  z-index: 10;
  border-radius: 10px;
}
.news__collumn-ico {
  position: absolute;
  padding: 33px 0 0 540px;
  z-index: 10;
}
.news__collumn-ico.watch:before {
  content: url(../img/watch.png);
}
.news__collumn-ico.read:before {
  content: url(../img/read.png);
}
.news__box-img {
  position: relative;
  width: 50%;
}
.item-text_extrabold {
  font-family: "Gilroy-Extrabold";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
.news__text.left,
.news__text.right {
  position: absolute;
  padding: 46px 0 0 50px;
  z-index: 10;
}
.time {
  font-family: "Gilroy-Semibold";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.time.position {
  position: absolute;
  padding: 34px 0 0 46px;
  z-index: 10;
}
.link_reverse {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 5px;
  padding: 7px 34px;
}
.link_reverse.news-position {
  margin: 288px 0 0 46px;
  z-index: 10;
}
.link_reverse.green {
  background: #00c396;
}
.link_reverse.blue {
  background: #056ec0;
}
.news-rows {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 226px;
}
.news-row__box.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24.3%;
  height: 199px;
  border-radius: 10px;
}
.news-row__box.second {
  width: 56%;
  margin-left: 16px;
}
.news-row__box {
  width: 50%;
  display: flex;
}
.news-row__text-style {
}
.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 133px;
  height: 43px;
  font-family: "Gilroy-Extrabold";
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
}
.btn-link.blue {
  color: rgb(0, 114, 192);
  border-color: rgb(0, 114, 192);
}
.btn-link.green {
  border-color: rgb(0, 199, 140);
  color: rgb(0, 199, 140);
}
.nav-info {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 0.2rem dashed #000000;
  border-radius: 10px;
  margin-top: 6rem;
  height: 228px;
  width: 100%;
}
.nav-info__btn-list {
  display: flex;
  position: absolute;
  background: white;
  top: -14px;
  left: 50px;
}
.nav-info__btn {
  border: none;
  background-color: white;
  font-size: 1.12em;
  font-weight: bold;
  color: rgb(0, 114, 192);
  margin-left: 5%;
  cursor: pointer;
  outline: none;
}
.nav-info__btn.active {
  color: rgb(156, 174, 188);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.nav-info__btn.active:before {
  content: url(../img/arrow_down.png);
  position: absolute;
  top: 100%;
}
.nav-info__list-items {
  display: flex;
  height: inherit;
}
.nav-info__list {
  display: none;
  font-size: 19px;
}
.nav-info__list.active {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.nav-info__list-items ul > li {
  font-size: 1.3rem;
  flex-grow: 1;
  min-height: 95px;
  padding-top: 3%;
  font-weight: 500;
}
.relevant {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
}
.relevant__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.arrow {
  color: rgb(188, 205, 218);
  font-size: 33px;
}

.relevant__bottom {
  display: flex;
  justify-content: space-between;
}
.relevant__bottom-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(232, 245, 255);
  text-align: center;
  width: 33.333%;
  margin: 0px -4px 0 -4px;
  padding: 50px 4px 50px 4px;
}
.relevant-text {
  text-align: center;
  margin-top: 0;
  margin-bottom: auto;
  padding-bottom: 24px;
}
.link_big {
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 315px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.digest-main {
  position: relative;
  border-bottom: 2px dotted black;
  margin-top: 55px;
  padding-bottom: 6%;
}
.digest__box {
  display: flex;
  justify-content: space-between;
}
.digest__box-img {
  height: 255px;
  position: relative;
}
.digest__box.item {
  flex-direction: column;
  width: 33.333%;
  margin: 0px -4px 0 -4px;
}
.digest-text_style {
  margin-bottom: auto;
  padding-bottom: 20px;
}
.digest-time_style {
  margin-top: 12px;
}
.public {
  position: relative;
  border-bottom: 2px dotted black;
  padding-bottom: 6%;
  margin-top: 60px;
}
.public__bottom-item {
  display: flex;
}
.public__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.public-box__item_style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}
.public__box-img {
  width: 70%;
  position: relative;
}
.public__box-right {
  width: 70%;
  position: relative;
}
.public__img-right {
  z-index: 0;
}
.public__box-right__items {
  margin-top: 33px;
  margin-left: 44px;
}
.public__time {
  width: 90%;
  justify-content: space-between;
  position: absolute;
  display: flex;
  align-items: baseline;
}
.public__time::after {
  content: url(../img/read.png);
  cursor: pointer;
}
.public-text {
  position: absolute;
  width: 70%;
  margin-top: 50px;
}
.public__link {
  margin-top: 540px;
}
.links-slider {
  margin-top: 55px;
}
.links-slider__bottom-items {
  display: flex;
  justify-content: space-between;
}
.links-slider__bottom-box {
  display: flex;
  flex-direction: column;
  width: 16%;
}
.links-slider__box-img {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 30px 0px 30px 0;
  background-color: #e8f5ff;
  z-index: 12;
  border-radius: 10px;
}
.links-slider__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 135px;
  border-radius: 100px;
  background: #ffffff;
  z-index: 0;
}
.about {
  position: relative;
  margin-top: 50px;
}
.about-collumns {
  display: flex;
}
.about-collumns__box-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px dashed black;
  border-radius: 10px;
  padding: 40px;
  margin-right: 5px;
}
.about-collumns__box-right {
  margin-left: 5px;
  z-index: 0;
}
.about-collumns__box-right:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  border-radius: 10px;
  background-color: #d8d8d8;
  background-image: linear-gradient(
    0deg,
    rgba(232, 245, 255, 0) 0%,
    rgba(232, 245, 255, 1) 100%
  );
  z-index: 12;
  opacity: 0.3;
}
.about-collumns__box-left,
.about-collumns__box-right {
  width: 100%;
  position: relative;
}
.about-collumns__link {
  margin: 100px 0 50px 0;
}
.about-text {
  margin-top: 0;
}
.nav-footer {
  display: flex;
  flex-direction: column;
  background-color: #e8f5ff;
  border-radius: 10px;
  margin-top: 55px;
  margin-bottom: 20px;
}
.nav-footer__items {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0 40px;
}
.nav-footer__block {
}
.nav-footer__headline-text {
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 25px;
  font-weight: 800;
}
.nav-footer__block-links {
  margin-top: 20px;
  padding-left: 0;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
}
.nav-footer__link {
  padding: 8px 0 8px 0;
}
.footer-search {
  display: flex;
  align-items: end;
  margin-top: 15px;
  margin-bottom: 55px;
}
.footer__text-search {
  margin: 0;
  margin-right: 44px;
}
.link-youtube {
  display: flex;
  position: relative;
}
.youtube-img-link:before {
  content: url(../img/youtube.png);
  padding-right: 50px;
}

.footer-text__bottom {
  margin-left: 40px;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 40px;
}
.footer-bottom {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 20px;
  font-weight: 900;
}
.footer-address {
  font-style: normal;
}
.social-links__footer-position {
  top: -11px;
  right: -10px;
  width: 200px;
}
